
#container {
    width: 100% !important;
    height: 80% !important;
    margin: 0 auto;
    padding: 0;
   
}
.ng2-carouselamos-container{
    width: 70%;
    margin : auto;
}
/* .slide-items{
    margin-right: 10px;
}
img{
    width: 210px;
} */

.slick-wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
    color: black!important;
}
.header{
    margin-top: 0 0 0 ;
}
/* .container-fluid{
    position: absolute;
} */
.btn-sm{
    margin: 3px 27px 0px -64px;;
}
.searchImg{
    width: 20%;
}