<div class="container-fluid">
  <div class="row header">
   <div class="col-4">
    <h1>LocalTree</h1>
  </div>
  <div class="col-1">
   <button type="button" class="btn btn-light">Experiences</button>
  </div>
  <div class="col-2">
   <button type="button" class="btn btn-light">Become A Host</button>
  </div>
  <div class="col-2">
   <button type="button" class="btn btn-light">Spanish/Catalan</button>
  </div>
  <div class="col-1">
   <button type="button" class="btn btn-light">Log in</button>
  </div>
  <div class="col-1">
    <button type="button" class="btn btn-danger">Sign Up</button>
   </div>
<!-- 
  <button type="button" class="btn btn-link">Link</button>
  <button type="button" class="btn btn-link">Link</button>
  <button type="button" class="btn btn-link">Link</button>
  <button type="button" class="btn btn-link">Link</button>
  <button type="button" class="btn btn-light">Light</button> -->
  </div>
  
  

  <div class="slick-wrapper">

 
    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let data of images"
          class="slide"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="100%"
          />
        </div>
      </ngx-slick-carousel>
      <button type="button" class="btn btn-dark" (click)="prev()">
        <i class="fa fa-arrow-circle-left"></i>
        
      </button>
      <button type="button" class="btn btn-dark" (click)="next()">
        <i class="fa fa-arrow-circle-right"></i>
        
      </button>
    </div>
  <!-- <div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="images"
      [width]="850"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
  
  
    <ng-template #prev>
      <img src="assets/Images/MaskGroup5.jpg" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="assets/Images/MaskGroup5.jpg" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">
        <div class="slide-items">
            <img src="{{ item.name }}">
          </div>
    </ng-template>
    <button class="btn-prev setPrev" (click)="prev()">
			<i class="fa fa-arrow-circle-left"></i>
		</button>
		<button class="btn-next setNext" (click)="next()">
			<i class="fa fa-arrow-circle-right"></i>
		</button>
</div> -->
<div class="container">
  <div class="row">
    <h2>Every Adventure starts with <span style="color: rgb(234, 26, 26);">LocalTree</span> </h2>
    <h4>Book Private tours & activities with local worldwide</h4>
      <div class="col-3">
        <h6>Where Would You Like To Go?</h6>
        <div class="input-group mb-3">
          <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-3 float-left">
        <h6>What Would You Like To Do?</h6>
        <div class="input-group mb-3">
          <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-3">
        <h6>When Are You Available?</h6>
        <input type="date" class="form-control" placeholder="date" aria-label="Username" aria-describedby="basic-addon1">
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
      </div>
      <div class="col-3">
        <h6>How Many Guests Are Going?</h6>
        <div class="input-group mb-3">
          <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div>
            <button type="button" class="btn btn-danger btn-sm">
            Search
          </button>
          </div>
          
        </div>
      </div>
   
   
  </div>
  <div class="row">
    <p>Most Searched Plans:</p>
    <div class="col-1"></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-sm">
      Tag One
    </button></div>
  </div>
</div><br><br>
<div class="container">
  <h2><span style="color: rgb(234, 26, 26);">How Does</span>  It Works?</h2>
  <div class="row" *ngFor="let data of item">
    <div class="col-4"><img class="searchImg " src="{{data.name}}" alt="">
  <span>{{data.data}}
  </span></div>
  <div class="col-4"><img class="searchImg" src="{{data.name}}" alt="">
    <span>{{data.data}}
    </span></div>
    <div class="col-4"><img class="searchImg" src="{{data.name}}" alt="">
      <span>{{data.data}}
      </span></div>
</div>
</div><br><br>
<div class="container">
  <h2><span style="color: rgb(234, 26, 26);">Popular</span> activities</h2>
  <div class="slick-wrapper">
    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig2"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let data of images2"
          class="slide"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="50%"
          />
          <p>City tour<span style="color: rgb(234, 26, 26);"> in Ontario</span></p>
          <h6>Paddleboarding Harbourside Adventure</h6>
        </div>
      </ngx-slick-carousel>
      <button type="button" class="btn btn-dark" (click)="prev2()">
        <i class="fa fa-arrow-circle-left"></i>
      </button>
      <button type="button" class="btn btn-dark" (click)="next2()">
        <i class="fa fa-arrow-circle-right"></i>
      </button>
    </div>
</div><br><br>
<div class="container">
  <h2><span style="color: rgb(234, 26, 26);">Best Experience</span> To Pick For This Tour</h2>
  <div class="slick-wrapper">
    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig2"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let data of images2"
          class="slide"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="50%"
          />
          <p>City tour<span style="color: rgb(234, 26, 26);"> in Ontario</span></p>
          <h6>Paddleboarding Harbourside Adventure</h6>
        </div>
      </ngx-slick-carousel>
      <button type="button" class="btn btn-dark" (click)="prev2()">
        <i class="fa fa-arrow-circle-left"></i>
      </button>
      <button type="button" class="btn btn-dark" (click)="next2()">
        <i class="fa fa-arrow-circle-right"></i>
      </button>
    </div>
</div><br><br>
<div class="container">
  <h2><span style="color: rgb(234, 26, 26);">Experience For</span> Every Interest</h2>
  <div class="slick-wrapper">
    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig2"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let data of state"
          class="slide"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="50%"
            class="img-circle"
          />
          <span style="color: rgb(234, 26, 26); text-align: center;">{{data.title}}</span>
        </div>
      </ngx-slick-carousel>
      
    </div>
  <!-- <div class="row">
   
        <div class="col-2"
          *ngFor="let data of state"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="50%"
            class="img-circle"
          />
          <p><span style="color: rgb(234, 26, 26);">{{data.title}}</span></p>
        </div>
      
     
    </div> -->
</div><br><br>
<div class="container">
  <div class="row">
    <h2><span style="color: rgb(234, 26, 26);">Becoming A Host</span></h2>
        <div class="col-6"
        >
          <img
            src="assets/Images/becomehost.jpg"
            alt=""
            width="100%"
            height="100%"
          />
         
        </div>
        <div class="col-6">
            <h4>Eatwith events are always private & personal</h4>
            <span>
              If your group is made up of 2 or more, you can choose to private the Experience 
              for yourself and your loved once.
            </span><br><br>
            <h4>We're committed to your well-being</h4>
            <span>
              All necessary precautions have been taken so that you can attend our events with
              total peace of mind. 
            </span><br><br>
            <h4>Hand-selected hosts</h4>
            <span>
              Our team hand-picks each host to ensure that you have the best possible experience. 
            </span>
        </div>
  </div>
  
</div><br><br>
</div>



  