<div class="container-fluid">
       <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse header" id="navbarTogglerDemo01">
            <a class="navbar-brand logo" href="#">Local tree</a>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Experiences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Become A Host</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Spanish / Catalan
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="#">Spanish</a></li>
                  <li><a class="dropdown-item" href="#">Catalan</a></li>                 
                </ul>
               
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">login</a>
              </li>
              <button class="btn btn-signup ps-4 pe-4" type="submit">Sign Up</button>
              <button href="#" class="basket-icon"><img src="../../../assets/Images/basket.png"></button>
            </ul>
           
          </div>
        </div>
      </nav>
     

  <div class="slick-wrapper">
    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let data of images"
          class="slide"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="100%"
          />
        </div>
      </ngx-slick-carousel>
      <button type="button" class="btn btn-dark" (click)="prev()">
        <i class="fa fa-arrow-circle-left"></i>
        
      </button>
      <button type="button" class="btn btn-dark" (click)="next()">
        <i class="fa fa-arrow-circle-right"></i>
        
      </button>
    </div>
  <div class="top-box">
<div class="container">
  <h2>Every Adventure starts with <span>LocalTree</span> </h2>
  <h4>Book private tours & activities with locals worldwide</h4>
  <div class="top-box1">
  <div class="row">    
      <div class="col-3">
        <h6>Where Would You Like To Go?</h6>
        <div class="input-group mb-3">
          <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-3 float-left">
        <h6>What Would You Like To Do?</h6>
        <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-3">
        <h6>When Are You Available?</h6>
        <input type="date" class="form-control" placeholder="date" aria-label="Username" aria-describedby="basic-addon1">
       
      </div>
      <div class="col-3">
        <h6>How Many Guests Are Going?</h6>
        <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div>
            <button type="button" class="btn btn-danger btn-sm">
            Search
          </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h6>Most Searched Plans:</h6>
      
      <div class="">
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
        <button type="button" class="tag">Tag One</button>
       
        

      </div>
    
    </div>
  </div>
  
</div>
</div>
<section class="howitworks">
<div class="container">
  <h2 class="main-title">How Does<span> It Works?</span></h2>

  <div class="row mt-4 mb-4">
    <div class="col-4 text-center">
      <div class="searchImg">
      <img src="../../../assets/Images/search.png">
    </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
    </div>
    <div class="col-4 text-center">
      <div class="searchImg">
      <img src="../../../assets/Images/search.png">
    </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
    </div>
    <div class="col-4 text-center">
      <div class="searchImg">
      <img src="../../../assets/Images/search.png">
    </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
    </div>
    
  </div>
  <!-- <div class="row" *ngFor="let data of item">
    <div class="col-4 text-center">
      <img class="searchImg " src="{{data.name}}" alt="">
  <span>{{data.data}}
  </span></div>


   
</div> -->
</div>
</section>

<section class="popular-act">
  <div class="container">
    <h2 class="main-title mb-4">Popular<span> activities</span></h2>
    <div class="slick-wrapper">
      <ngx-slick-carousel
          class="carousel"
          #slickModal2="slick-carousel"
          [config]="slideConfig2"
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)"
        >
          <div
            ngxSlickItem
            *ngFor="let data of images2"
            class="slide"
          >
            <img
              src="{{data.name}}"
              alt=""
              width="100%"
              height="50%"
            />
            <div class="price-tag">£40 / Adult</div>
            <p>City tour <span class="text-pink">in Ontario</span></p>
            <h6>Paddleboarding Harbourside Adventure</h6>
            <div class="rating">4.5/5<i class="fa fa-star"></i><span>(5)</span></div>
          </div>
        </ngx-slick-carousel>
        <!-- <button type="button" class="slick-arrow" (click)="prev2()">
          <i class="fa fa-arrow-circle-left"></i>
        </button>
        <button type="button" class="slick-arrow" (click)="next2()">
          <i class="fa fa-arrow-circle-right"></i>
        </button> -->
      </div>
    </div>
    </section>

    <section class="popular-act">
      <div class="container">
        <h2 class="main-title mb-4">Best Experiences <span> To Pick For This Tour</span></h2>
        <div class="slick-wrapper">
          <ngx-slick-carousel
              class="carousel"
              #slickModal2="slick-carousel"
              [config]="slideConfig2"
              (init)="slickInit($event)"
              (breakpoint)="breakpoint($event)"
              (afterChange)="afterChange($event)"
              (beforeChange)="beforeChange($event)"
            >
              <div
                ngxSlickItem
                *ngFor="let data of images2"
                class="slide"
              >
                <img
                  src="{{data.name}}"
                  alt=""
                  width="100%"
                  height="50%"
                />
                <div class="price-tag">£40 / Adult</div>
                <p>City tour <span class="text-pink">in Ontario</span></p>
                <h6>Paddleboarding Harbourside Adventure</h6>
                <div class="rating">4.5/5<i class="fa fa-star"></i><span>(5)</span></div>
              </div>
            </ngx-slick-carousel>
            <!-- <button type="button" class="slick-arrow" (click)="prev2()">
              <i class="fa fa-arrow-circle-left"></i>
            </button>
            <button type="button" class="slick-arrow" (click)="next2()">
              <i class="fa fa-arrow-circle-right"></i>
            </button> -->
          </div>
        </div>
        </section>
    
        <section class="popular-act">
          <div class="container">
            <h2 class="main-title mb-4">Experience For<span> Every Interest</span></h2>
            <div class="d-flex justify-content-between">       
               
              <div class="col-md-2 experience-block">              
                <img src="../../../assets/Images/MaskGroup4.3.jpg" class="img-fluid">
                <h5>Day Trip</h5>             
              </div>  
              <div class="col-md-2 experience-block">              
                <img src="../../../assets/Images/MaskGroup4.4.jpg" class="img-fluid">
                <h5>Day Trip</h5>             
              </div>  
              <div class="col-md-2 experience-block">              
                <img src="../../../assets/Images/MaskGroup4.1.jpg" class="img-fluid">
                <h5>Day Trip</h5>             
              </div>  
              <div class="col-md-2 experience-block">              
                <img src="../../../assets/Images/MaskGroup4.2.jpg" class="img-fluid">
                <h5>Day Trip</h5>             
              </div>  
              <div class="col-md-2 experience-block">              
                <img src="../../../assets/Images/MaskGroup4.3.jpg" class="img-fluid">
                <h5>Day Trip</h5>             
              </div>  


            </div>

            </div>
            </section>

<!-- <div class="container">
  <h2><span style="color: rgb(233, 55, 55);">Best Experience</span> To Pick For This Tour</h2>
  <div class="slick-wrapper">
    <ngx-slick-carousel
        class="carousel"
        #slickModal3="slick-carousel"
        [config]="slideConfig3"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let data of images2"
          class="slide"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="50%"
          />
          <p>City tour<span style="color: rgb(233, 55, 55);"> in Ontario</span></p>
          <h6>Paddleboarding Harbourside Adventure</h6>
        </div>
      </ngx-slick-carousel>
      <button type="button" class="btn btn-dark" (click)="prev3()">
        <i class="fa fa-arrow-circle-left"></i>
      </button>
      <button type="button" class="btn btn-dark" (click)="next3()">
        <i class="fa fa-arrow-circle-right"></i>
      </button>
    </div>
</div> -->


<!-- <div class="container">
  <h2><span style="color: rgb(233, 55, 55);">Experience For</span> Every Interest</h2> -->
  <!-- <div class="slick-wrapper">
    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig4"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let data of state"
          class="slide"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="100%"
            class="img-circle"
          />
          <span style="color: rgb(233, 55, 55); text-align: center;">{{data.title}}</span>
        </div>
      </ngx-slick-carousel>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2"><span style="color: rgb(233, 55, 55); text-align: center;">View All Activities</span></div>
      </div>
    </div> -->
  <!-- <div class="row">
   
        <div class="col-3"
          *ngFor="let data of state"
        >
          <img
            src="{{data.name}}"
            alt=""
            width="100%"
            height="50%"
            class="img-circle"
          />
          <p><span style="color: rgb(233, 55, 55);">{{data.title}}</span></p>
        </div>
      
     
    </div> -->
<!-- </div> -->
<section>
  <div class="container">
    <h2 class="main-title mb-4">Becoming A Host?</h2>
    <div class="row">
    
          <div class="col-md-6 col-xs-12">
            <img src="assets/Images/becomehost.jpg" class="img-fluid"/>           
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="row">
              <div class="host host1">
                <h5>Eatwith events are always private & personal</h5>
                <p>If your group is made up of 2 or more, you can choose to privatize the experience for yourself and your loved ones.</p>
              </div>
              <div class="host host2">
                <h5>We're committed to your well-being</h5>
                <p>All necessary precautions have been taken so that you can attend our events with total peace of mind.</p>
              </div>
              <div class="host host3">
                <h5>Hand-selected hosts</h5>
                <p>Our team hand-picks each host to ensure that you have the best possible experience.</p>
              </div>
            </div>

             
          </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button type="button" class="btn btn-danger">Become A Host</button>
    </div>
    

    </div>
</section>

<section class="content-main">
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <div class="row g-2">
        <div class="col-md-6">
          <img src="../../../assets/Images/family1.jpg" class="img-fluid">
         </div>
          <div class="col-md-6 content-box">
            <h5>Join Online Experiences</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-general">Search Experience</a>
          </div>       
          
          </div>
      </div>
      <div class="col-md-6">
        <div class="row g-2">
          <div class="col-md-6">
            <img src="../../../assets/Images/family1.jpg" class="img-fluid">
           </div>
            <div class="col-md-6 content-box">
              <h5>Treat Your Loved Once To A Unique</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.</p>
              <a href="#" class="btn btn-general">Join Local Tree</a>
            </div>       
            
            </div>
        </div>
      </div>
    </div>
    </section>


</div>



  