 .footer-main{
   box-shadow: 0px 0px 15px #00000029;
  padding: 20px 0px;
 }
 .footer a{
  display: block;
  color: #5b5b5b;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 14px;
 }
 .footer h6{
   color: #222222;
 }
 .text-pink{
   color: #F2294E;
}
.bottom-footer-liks a{
   text-transform: capitalize;
   text-decoration: none;
   font-weight: bold;
   color: #222222;
   margin-right: 10px;
}
.bottom-footer-liks a:last-child{
   margin-right: 0px;
}
.bottom-footer-liks h6{
color: #5b5b5b;
}
.social-icons .btn{
   height: 40px;
    width: 40px;
    background-color: #F2294E;
    border-radius: 50%;
    color: #fff;
    line-height: 17px;  
    margin-right: 8px;
}
.social-icons .btn:last-child{
   margin-right: 0px;
}
