   
    <div class="footer-main">
      
            <div class="container">
                <div class="row">
                <div class="col-md-2 footer">
                    <h6>About Local Tree</h6>
                 <a href="">OurStory</a>
                 <a href="">Experiences</a>
                 <a href="">Host Community</a>
                 <a href="">Blog</a>
            
                </div>
                <div class="col-md-2 footer">
                    <h6>Join Localtree</h6>
                    <a href="">Become A Host</a>
                    <a href="">Get Rewards Points</a>
                    <a href="">Refer A Host Friend</a>            
                </div>
                <div class="col-md-2 footer">
                    <h6>Help & Support</h6>
                    <a href="">Help Center</a>
                    <a href="">Refund Policy</a>
                    <a href="">Cancellation Policy</a>     
                    <a href="">Contact Us</a>       
                </div>
                <div class="col-md-2 footer">
                    <h6>Help Local Tree Grow<span class="seedling"><i class="fa-solid fa-seedling"></i></span></h6>
                    <a href="">No Experiences Found In Your Location? Help Us Expand Our Frontiers!</a>
                    <a href="">Share Your Thoughts With Us</a>
                      
                </div>
                <div class="col-md-4 text-md-end">
                    <h6 class="footer-text">Join Our Newsletter And Get Our Latest News</h6><br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <button class="btn btn-pink input-group-text" id="inputGroup-sizing-default">Join Us!</button>
                    </div>
                    <p class="mt-3">
                        By joining you agree to receive commercial communications from LocalTree. You can withdraw consent at any time. Privacy Policy link.
                    </p>
                        <div class="social-icons">
                        <h6>Follow Us On...</h6>       
                        <a class="btn"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="btn"><i class="fa-brands fa-twitter"></i></a>
                        <a class="btn"><i class="fa-brands fa-instagram"></i></a>
                        <a class="btn"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row bottom-footer mt-4">
                <div class="col-md-6">
                    <h2 class="text-capitalize">local <span class="text-pink"> tree</span> </h2>
                </div>
                <div class="col-md-6 text-md-end">
                    <div class="bottom-footer-liks">
                    <a href="">Terms & Conditions</a>
                    <a href="">Cookie Policy</a>
                    <a href="">Privacy Policy</a>
                </div>
                    <h6>© Copyright 2022, Inc. All Rights Reserved.</h6>
                </div>
            </div>
        </div>
      
    </div>
