<div class="container card">
    <div class="row">
        <div class="col-2">
            <h6>About Local Tree</h6>
            <p class="text_2">Our Story</p>
            <p class="text_2">Experiences</p>
            <p class="text_2">Host Community</p>
            <p class="text_2">Blog</p>
        </div>
        <div class="col-2">
            <h6>Join LocalTree</h6>
            <p class="text_2">Become A Host</p>
            <p class="text_2">Get Rewards Point</p>
            <p class="text_2">Refer A Host Friend</p>
        </div>
        <div class="col-2">
            <h6>Help And Support</h6>
            <p class="text_2">Help Center</p>
            <p class="text_2">Refund Policy</p>
            <p class="text_2">Cancelation Policy</p>
            <p class="text_2">Contact Us</p>
        </div>
        <div class="col-2 ">
            <h6>Help Local Tree Grow</h6>
            <p class="text_2">No Experiences Found In Your Location?</p>
            <p class="text_2">Help Us Expand Our Frontier!</p>
            <p class="text_2">Share Your Thought With Us</p>
        </div>
        <div class="col-4">
            <h6 class="footer-text">Join Our Newsletter And Get Our Latest News</h6><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <button class="btn btn-danger input-group-text" id="inputGroup-sizing-default">Join Us!</button>
            </div><br>
            <p class="footer-text text_1">
                By Joining You Agree to recieve commercial Communications <br>
                from LocalTree. You can consent at any time. <br>
                privacy policy link
            </p><br>
            <h6 class="footer-text">Follow Us On...</h6>
            <p class="footer-text">
               <button class="btn btn-danger btn1"><i class="fa fa-facebook"></i></button>&nbsp;
                <button class="btn btn-danger btn1"><i class="fa fa-twitter"></i></button>&nbsp;
                <button class="btn btn-danger btn1"><i class="fa fa-instagram"></i></button>&nbsp;
                <button class="btn btn-danger btn1"><i class="fa fa-linkedin"></i></button>&nbsp; 
            </p><br>
            
            
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <h2><span class="text-danger">Local</span>  Tree</h2>
        </div>
        <div class="col-5">
            <h6 class="footer-text">Terms & Condition &nbsp; Cookie Policy &nbsp; Privacy Policy</h6>
            <p class="footer-text text_1">Copiright 2022, Inc. All Rights Reserved.</p>
        </div>
    </div>
</div>
